@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
	--color-text-primary: #2c353b;
	--color-text-primary-hover: #727272;
	--yellow: #ffd839;
	--light-gray: #ededee;
	--green: #15ac5d;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: var(--color-text-primary);
}

.container {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	padding: 0 20px;
}
