@import "./global.css";

/* Header */
.header {
	background-color: var(--yellow);
	padding: 30px 0 70px;
}

.header .flx {
	display: flex;
	align-items: center;
}

.header .flx ul.nav-area {
	display: flex;
	align-items: center;
	gap: 0 30px;
	margin-left: 50px;
}

.header .flx ul.nav-area li {
	position: relative;
}

.header .flx ul.nav-area li a {
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--color-text-primary);
	transition: color 0.2s;
}

.header .flx ul.nav-area li a:hover {
	color: var(--color-text-primary-hover);
}

.header .flx ul.nav-area li ul {
	display: none;
}

.header .flx ul.nav-area li:hover ul {
	display: block;
	position: absolute;
	left: 0;
	background-color: var(--yellow);
	box-shadow: var(--shadow);
	border-radius: 10px;
	z-index: 20;
}

.header .flx ul.nav-area li:hover ul li a {
	display: block;
	padding: 5px 10px;
	font-size: 1rem;
}

.header .flx .lang {
	display: flex;
	gap: 0 5px;
	margin-left: auto;
	margin-right: 50px;
}

.header .flx .lang a {
	text-decoration: none;
	font-size: 1.125rem;
	font-weight: 700;
	color: var(--color-text-primary);
	transition: color 0.2s;
}

.header .flx .lang a:hover {
	color: var(--color-text-primary-hover);
}
/* Header - end */

/* Filter */
.filter {
	position: sticky;
	top: 0;
	z-index: 2;
}

.filter .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 10px;
	width: 100%;
	height: 80px;
	background-color: var(--white);
	border-radius: 3px;
	box-shadow: var(--shadow);
	padding: 12px;
	margin-top: -40px;
}

.filter .content .label-area {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 180px);
	gap: 0 10px;
}

.filter .content .label-area label {
	width: 100%;
	border-right: 1px solid var(--gray);
	padding-right: 10px;
}

.filter .content .label-area label span {
	display: block;
	font-weight: 700;
	font-size: 0.75rem;
	margin-bottom: 5px;
}

.filter .content .label-area select,
.filter .content .label-area input[type="date"],
.filter .content .label-area input[type="number"] {
	width: 100%;
	height: 35px;
	font-weight: 700;
	outline: none;
	border: 1px solid var(--gray);
	border-radius: 3px;
	font-size: 1rem;
	color: var(--color-text-primary);
	cursor: pointer;
	padding: 0 5px;
}

.filter .content button {
	width: 170px;
	height: 100%;
	background-color: var(--blue);
	color: var(--white);
	border-radius: 3px;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.2s;
}

.filter .content button:hover {
	background-color: var(--blue-hover);
}
/* Filter - end */

/* Selections */
.selections {
	padding: 80px 0 0;
}

.selections h2 {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.selections .flx {
	display: flex;
	gap: 0 20px;
}

.selections .flx .block {
	width: calc(100% / 3);
	background-color: var(--white);
	border-radius: 6px;
	display: block;
	text-decoration: none;
	color: var(--color-text-primary);
	overflow: hidden;
	transition: box-shadow 0.3s;
}

.selections .flx .block:hover {
	box-shadow: var(--shadow);
}

.selections .flx .block img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.selections .flx .block p {
	padding: 20px;
	font-weight: 500;
}
/* Selections - end */

/* Hot tours */
.hot-tours {
	padding: 80px 0 0;
}

.hot-tours h2 {
	font-weight: 700;
	font-size: 1.5rem;
	background: url("../images/fire.svg") no-repeat 0 50%;
	padding-left: 40px;
	margin-bottom: 20px;
}

.hot-tours .flx {
	display: flex;
	gap: 0 20px;
}

.hot-tours .flx .block {
	display: block;
	width: calc(100% / 4);
	border-radius: 6px;
	overflow: hidden;
	text-decoration: none;
	color: var(--color-text-primary);
	background-color: var(--white);
	transition: box-shadow 0.3s;
}

.hot-tours .flx .block:hover {
	box-shadow: var(--shadow);
}

.hot-tours .flx .block .content {
	padding: 10px;
}

.hot-tours .flx .block img {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.hot-tours .flx .block .content h3 {
	font-weight: 700;
	margin-bottom: 15px;
}

.hot-tours .flx .block .content .info {
	padding-left: 25px;
	margin-bottom: 10px;
	font-weight: 500;
}

.hot-tours .flx .block .content .location {
	background: url("../images/location.svg") no-repeat 2px 50%;
}

.hot-tours .flx .block .content .duration {
	background: url("../images/date.svg") no-repeat 0 50%;
}

.hot-tours .flx .block .content .food {
	background: url("../images/food.svg") no-repeat 1px 50%;
}

.hot-tours .flx .block .content .price {
	color: var(--green);
	font-weight: 700;
	font-size: 1.25rem;
}

.hot-tours .flx .block .content .price span {
	color: var(--color-text-primary);
	font-weight: 500;
	font-size: 0.875rem;
}
/* Hot tours - end */

/* Popular countries */
.popular-countries {
	padding: 80px 0 80px;
}

.popular-countries h2 {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.popular-countries .flx {
	display: flex;
	flex-wrap: wrap;
	gap: 0 20px;
}

.popular-countries .flx .block {
	position: relative;
	display: block;
	width: calc((100% / 2) - 10px);
	border-radius: 6px;
	overflow: hidden;
	text-decoration: none;
	color: var(--color-text-primary);
	background-color: var(--white);
	margin-bottom: 20px;
	transition: box-shadow 0.3s;
}

.popular-countries .flx .block img {
	display: block;
	width: 100%;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;
}

.popular-countries .flx .block:hover img {
	transform: scale(1.1);
}

.popular-countries .flx .block .pl {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 1;
}

.popular-countries .flx .block .pl .country-name {
	font-weight: 700;
	font-size: 1.5rem;
}

.popular-countries .flx .block .pl .price {
	font-weight: 500;
}
/* Popular countries - end */

/* Footer */
.footer {
	padding: 40px 0;
	background-color: var(--gray);
}

.footer .flx {
	display: flex;
	align-items: center;
}

.footer .flx ul.nav {
	display: flex;
	align-items: center;
	gap: 0 30px;
	margin-left: auto;
}

.footer .flx ul.nav li a {
	text-decoration: none;
	color: var(--color-text-primary);
	transition: color 0.2s;
}

.footer .flx ul.nav li a:hover {
	color: var(--color-text-primary-hover);
}

.footer .copyright {
	text-align: center;
	margin-top: 30px;
}
/* Footer - end */

/* Scroll to top */
a.scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

a.scroll-to-top img {
	width: 25px;
	transition: transform 0.2s;
}

a.scroll-to-top:hover img {
	transform: scale(1.1);
}
/* Scroll to top - end */
